*,
::after,
::before {
	box-sizing: border-box;
	color: var(--white);
}


html {
	height: 100% !important;
	font-family: 'Roboto', sans-serif;
}

#app {
	height: 100%;
}
body {
	height: 100%;
	background: var(--dark);;
}

.scroll {
	&::-webkit-scrollbar {
		width: 2px;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--light-blue);
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}
	overflow-y: auto;
	overflow-x: hidden;

}
